.main {
  padding-top: 5rem;
  background: url(../img/IMG_0764.png) fixed;
  height: 100vh;
  background-size: cover;
}
.main .header p {
  font-size: 24px;
  color: #fff;
}
.main .utp {
  margin-top: 10rem;
}
.main .utp h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
}
.main .utp .descrip {
  margin-top: 2.5rem;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
}
.main .utp .btn {
  margin-top: 2rem;
  border: 2px solid red;
}
.main .utp .btn p {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.about .text {
  background-color: #fff;
  height: 90vh;
  font-size: 16px;
  line-height: 30px;
}
.about .text h2 {
  margin-top: 3rem;
  font-size: 36px;
  margin-bottom: 5rem;
}
.why {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #F8F8F8;
  text-align: center;
}
.why h2 {
  font-size: 36px;
  text-transform: uppercase;
}
.why .card {
  margin-top: 10rem;
}
.why .card h3 {
  margin-top: 3rem;
}
.why .card p {
  margin-top: 3rem;
}
.why .card .img {
  display: inline-block;
  border: 1px solid red;
  border-radius: 50px;
}
.why .card span {
  display: inline-block;
  font-size: 24px;
  padding: 3rem 4rem 3rem 4rem;
  color: #fff;
}
.contact {
  background-color: #F8F8F8;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
}
.contact .social img {
  max-height: 30px;
  margin-right: 3rem;
}
.contact .info {
  text-align: left;
}
.contact .info p {
  margin-bottom: 5rem;
}
.contact .form {
  margin-top: 5rem;
}
.contact input {
  border: 1px solid lightgray;
  padding: 1rem 7rem 2rem 7rem;
  display: block;
  margin-bottom: 5rem;
}
.contact h2 {
  margin-bottom: 5rem;
  font-size: 36px;
}
.contact .btn {
  margin-left: -30rem;
  margin-top: 2rem;
  border: 1px solid red;
}
.contact .btn p {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black;
}
.footer p {
  color: #fff;
}
.footer .phone {
  text-align: right;
  font-size: 24px;
}
.event {
  background-color: #F8F8F8;
  padding-top: 10rem;
  padding-bottom: 15rem;
  text-align: center;
}
.event h2 {
  margin-bottom: 5rem;
  font-size: 36px;
  text-transform: uppercase;
}
.event p {
  font-size: 16px;
  line-height: 36px;
}
.adress {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.adress h3 {
  margin-bottom: 5rem;
}
.adress h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 36px;
  text-transform: uppercase;
}
.adress h4 {
  margin-bottom: 2rem;
}
@media (max-width: 765px) {
  body {
    text-align: center;
  }
  .imgbg {
    margin-left: -4rem;
  }
  .contact .btn {
    margin-left: 3rem;
  }
  .phone {
    text-align: center;
  }
  .about {
    padding-bottom: 20rem;
  }
}
